/*todo: Start the linear gradient learning*/
/*Remember to organize all the project archives */
#pagetop{
    float:left;
    margin-right:90px;
}
body{
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
    width:900px;
    background-color:#050d2c;
}

p.basictext{
    width:500px;
    height:350px;
    padding:20px;
    padding-top:40px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:-100px;
    float:right;
    color:#9eccdb;
    text-shadow:-1px 1px 1px #5e5289;
    text-align:center;
    background-color:#000000;
    box-shadow:4px 2px 1px #000000;
    border-radius:5px;
    /*For the border to appear you need to specify it's style*/
    /*You can specify the color, and the style and the property of the border by adding more parameters */
}

#navigation_menu{
    width:250px;
    border-top-style:solid;
    border-color:#38b9ff;
    border-width:2px;
    padding:10px;
    margin-left:20px;
    border-radius:5px;
    color:#9eccdb;
    text-shadow:-1px 1px 1px #5e5289;
    text-align:center;
    background-color:#000000;
    box-shadow:4px 2px 1px #000000;

}
#test12{
border-style:none;
color:#000000;
}

#scaryeye{
    width:200px;
}

#madotsukisleep{
    width:200px;
    margin-top:40px;
    background-color:#050d2c;
}

#intropage{
    width:540px;
    padding:4px;
    float:right;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-style:solid;
    border-radius:0px;
    box-shadow: 6px 1px 6px #000000;
    background-color:#c0c0c0;
    box-shadow:4px 2px 1px #000000;
    border-radius:5px;

}
#basicbtn{
    color:#FFFFFF;
    margin:8px;
    padding:6px;
    background-color:#000000;
    width:70px;
}