/*todo: Start the linear gradient learning*/
/*Remember to organize all the project archives */
#pagetop{
    float:right;
    margin-right:90px;
}
body{
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
    width:900px;
    background-color:#708090;
}
h1,h2,h3{
    color:#FFFFFF;
    text-shadow: 3px 2px 1px #000000;
}
p.basictext{
    width:500px;
    height:380px;
    padding:20px;
    margin-top:0px;
    margin-bottom:0px;
    float:right;
    color:#000000;
    background-color:#c0c0c0;
    box-shadow:4px 2px 1px #000000;
    border-radius:5px;
    /*For the border to appear you need to specify it's style*/
    /*You can specify the color, and the style and the property of the border by adding more parameters */
}

#navigation_menu{
    width:250px;
    border-top-style:solid;
    border-color:#ab9e9a;
    border-top-width:1px;
    padding:10px;
    margin-left:20px;
    background-color:#c0c0c0;
    box-shadow:4px 2px 1px #000000;
    border-radius:5px;
}
#madotsukisleep{
    width:200px;
    margin-top:40px;
    background-color:#708090;

}
#madno{
    width:180px;
    float:right;
    margin-right:200px;
    margin-top:-60px;
    background-color:#708090;
}

#intropage{
    width:540px;
    padding:4px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-style:solid;
    border-radius:0px;
    box-shadow: 6px 1px 6px #000000;
    background-color:#c0c0c0;
    box-shadow:4px 2px 1px #000000;
    border-radius:5px;

}
