/*Remember to organize all the project archives */
body{
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
    width:900px;
    background-color:#47545d;
}

figcaption{
    color:#FFFFFF;
}
h1,h2,h3,h4{
    color:#FFFFFF;
    text-shadow: 6px 2px 3px #000000;
}
p{
    color:#FFFFFF;
}
p.one{
    width:500px;
    background-color:#828776;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    /*For the border to appear you need to specify it's style*/
    border-width:2px;
    border-style:solid;
    /*You can specify the color, and the style and the property of the border by adding more parameters */
    border-color:#000000 #FFFFFF #000000  #FFFFFF;
    border-radius:0;
    box-shadow:6px 4px 5px #000000;
}
#intropage{
    width:800px;
    padding:4px;
    margin-left:auto;
    margin-right:auto;
    background-color:#050c2a;
    border-width:5px;
    border-style:solid;
    border-color:#000000 #FFFFFF #000000  #FFFFFF;
    border-radius:0px;
    margin-bottom:5px;
    box-shadow: inset 1px 1px 6px #000000;
}
